@font-face {
    font-family: 'Amatic';
    src: url('fonts/AmaticSC-Regular.woff') format('woff'),
        url('fonts/AmaticSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amatic';
    src: url('fonts/AmaticSC-Bold.woff') format('woff'),
        url('fonts/AmaticSC-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Amatic';
    font-weight: bold;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #d6f5d6, #ffcce6);
}


.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
} 

.calculator-grid > button {
    cursor: pointer;
    font-size: 2.5rem;
    border: 1px solid #c2c2d6;
    outline: none;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, .75);
}
.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .2);
}
.calculator-grid > button:active {
    background-color: rgba(255, 255, 255, .1);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .75);
}

.span-two {
    grid-column: span 2;
    
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    height: 120px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 30px;
    word-wrap: break-word;
    word-break: break-all;
    margin-bottom: 10px;
    border-radius: 10px;
}

.output .prevOperand {
    color: rgba(255,255,255,.75);
    font-size: 1.5rem;
}
.output .currOperand {
    color: white;
    font-size: 2rem;
}